/*let's normalize*/

body {
	margin:0;
	font-family: 'Inconsolata';
	background-image: url("./imgs/background.jpg");}

/* guidelines */

/** {
  outline: 1px solid red !important;
}*/

#container1 {
	margin: 100px auto; /* center this stuff and top/bot margins */
	max-width: 600px;

}

#title {
	margin: 0 0;
	text-align: center;
	font-size: 20px;
	background-color: gray;
	color:#0F111E;
}

#frame {
	margin-top: 0px;
	max-width:590px;
	height: 390px;
	background-color: #0F111E;
	border-width: 5px;
	border-style: solid;
	border-color: gray;
}

.terminal {
	margin: 30px auto;
	width:440px;
	height: 330px;
/*	background-color: green;
*/	color: #728E03;
}

input, select, textarea{
    color: #0F111E;
    background-color: #728E03;
   	font-family: 'Inconsolata';
   	border-style: none;
   	font-size: 14px;
   	font-style: oblique;
   	text-align: center;
}

.error{
	color:red;
}


